<app-loading-spinner *ngIf="isLoaded"></app-loading-spinner>
<div [ngClass]="{'fixed':isFixed}" [ngStyle]="{hidden:!isLoaded}">
    <div *ngIf="!isFixed" style="height: 600px; width: auto;"></div>
    <h1>Title heading here</h1>
    <div (scroll)="onScroll($event)" >
        <img src="../../assets//Wedding/001.JPG" [ngStyle]="{display:currentImage == 1 ? 'block':'none'}" (loaded)="imageLoaded()">
        <img src="../../assets//Wedding/002.JPG" [ngStyle]="{display:currentImage == 2 ? 'block':'none'}" (loaded)="imageLoaded()">
        <img src="../../assets//Wedding/003.JPG" [ngStyle]="{display:currentImage == 3 ? 'block':'none'}" (loaded)="imageLoaded()">
        <img src="../../assets//Wedding/004.JPG" [ngStyle]="{display:currentImage == 4 ? 'block':'none'}" (loaded)="imageLoaded()">
        <img src="../../assets//Wedding/005.JPG" [ngStyle]="{display:currentImage == 5 ? 'block':'none'}" (loaded)="imageLoaded()">
        <img src="../../assets//Wedding/006.JPG" [ngStyle]="{display:currentImage == 6 ? 'block':'none'}" (loaded)="imageLoaded()">
        <app-rsvp></app-rsvp>
        <router-outlet></router-outlet>
    </div>
</div>