<app-loading-spinner *ngIf="isLoaded"></app-loading-spinner>
<div *ngIf="!isFixed" style="height: 500px; width: auto;"></div>
<div (scroll)="onScroll($event)" [ngClass]="{'fixed':isFixed}">
    <img [src]="currentImage">
    <app-rsvp></app-rsvp>
    <router-outlet></router-outlet>
</div>

<!-- Explicitly loading the image first -->
<div hidden="true">
    <img src="../../assets//Wedding/002.JPG">
    <img src="../../assets//Wedding/003.JPG">
    <img src="../../assets//Wedding/004.JPG">
    <img src="../../assets//Wedding/005.JPG">
    <img src="../../assets//Wedding/006.JPG">
</div>