img {
    width: 100%;
    /* z-index:-1; */
    display: block;
    position: relative;

    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 50%);
}

.fixed {
    position: fixed;
}

.container {
    position: relative;
    text-align: center;
}

.title {
    position: absolute;
    bottom: 30%;
    opacity: 0;
    z-index: 1;
    font-family: 'Petit Formal Script', cursive;
    text-align: center;
    width: 100%;
    font-size: 10vw;

    transition: all 1.25s;
}

.title-after {
    bottom: -5%;
    opacity: 1;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

/* Short for paragraph */
.par {
    height: 120px;
    border-radius: 10px;
    resize: none;
    font-size: inherit;
    font-family: "Segoe UI";
}