<div class="body" [ngClass]="{'expand':expandBody, 'body-after':upwardForm, 'body-submit':closeForm}">
    <div class="center">
        <h1>RSVP</h1> 
        <p>Saturday, December 17, 2022</p>
        <p class="timer">{{day}} DAYS {{hrs}} HRS {{mins}} MINS {{sec}} SECS</p>
    </div>

    <p style="text-align: center;">
        We are excited to have you on our special day to tie the knot! Please RSVP so that we know you are coming!<br>Thank you! ♥
    </p>

    <div class="center">
        <button *ngIf="!showForm" class="btn" (click)="handleShowButton()" [ngClass]="{'fade-out':expandBody}">Start</button>
    </div>

    <div *ngIf="showForm" class="fade-in">
        <!-- Thinking of putting this on another component entirely -->
        <app-rsvp-form (formSubmitted)="formHasBeenSubmittedHandler($event)"></app-rsvp-form>
    </div>
    
</div>

<div [ngClass]="thankYouForm ? 'ty ty-after' : 'ty'" class="center">
    <img src="../../../../assets/Wedding/Thank_You.gif">

    <div style="margin:2rem">
        <p>To start our life together, gifts will be much appreciated but</p>
        <p>a gift of cash towards our honeymoon, would really make our day!</p>
        <p></p>
    </div>

    <a href="https://www.paypal.com/donate/?business=YDPLUGMZVLXYQ&no_recurring=1&item_name=Fund+our+future+honey+moon%21+Thank+you%21%21&currency_code=USD">
        <button class="btn" style="margin-right: 5%;">Paypal</button>
    </a>

    <a href="https://account.venmo.com/u/Sigrid-Maruyama">
        <button class="btn">Venmo</button>
    </a>
</div>