.body {
    min-width: 300px;
    width: 50%;
    margin:auto;
    margin-top: 300px;
    margin-bottom: 40px;
    padding: 5%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
    border-radius: 25px;

    flex-direction: column;
    display: flex;
    justify-content: center;

    transition: all 500ms;
    opacity: 0.5;
}

.body-after {
    margin-top: 20px;
    opacity: 1;
}

.center {
    text-align: center;
    margin:auto;
}

.timer {
    padding:1rem;
    font-size: .8rem;
    color:rgb(163, 165, 167);
}

.expand {
    animation: expandDown 500ms;
}

@keyframes expandDown {
    from {
        padding-bottom: 5%;
    }

    to {
        padding-bottom: 1500px;
    }
}