<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap" rel="stylesheet">


<div [style.marginLeft.px]="this.screenWidth">
    <div [class]="this.wish.relation=='sigrid' ? 'card card-silver' : 'card card-blue'">
        <div class="outline">
            <h3>{{this.title}}</h3>
            <!-- <p>nothing</p> -->
            <p>{{wish.yourWish}}</p>
        </div>
    </div>
</div>
