.card {
    position: absolute;

    min-width: 30vw;
    max-width: 40vw;
    font-size: 1rem;
    padding: 2%;
    /* background-color: white; */
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 20px;
    border-radius: 25px;
}

.card-blue {
    background-image: linear-gradient(
        to bottom,
        white,
        rgba(143, 185, 228)
    );
}

.outline {
    position: relative;

    border-width: 2px;
    border-style: solid;
    border-image: 
    linear-gradient(
      to bottom, 
      #DCB975, 
      #B68D55
    ) 1;
    width: 100%;
}

.outline > h3 {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
}

.outline > p {
    margin-inline: 5%;
}

@keyframes bubble-up {
    from {
        
    }

    to {

    }
}