<form>
    <div class="form-main">
        <div class="form-control">
            <label>Your name</label>
            <input type="text" class="form" placeholder="First Name">
            <input type="text" class="form" placeholder="Last Name">
        </div>

        <div class="form-control">
            <label>Will you be attending at our wedding?</label>
            <input type="button" class="btn" value="Attending">
            <input type="button" class="btn" value="Not Attending">
        </div>
        
        <div class="form-control">
            <label>Are you a friend or family of?</label>
            <input type="button" class="btn" value="Stephen">
            <input type="button" class="btn" value="Sigrid">
        </div>
        
        <input type="button" class="btn center" value="Submit">

        <!-- <div><label for="">Share how you know the couple, wish them well or some wisdom for the future!</label></div>
        <div><label for="">Any plus one?</label></div>
    
        <h3>Confirmation to check and ready to submit the RSVP</h3> -->
    </div>
</form>